<ion-view title="Cloud Tab Default Page" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="cloudTabDefaultPage-button-bar2" class="button-bar">
      <button id="cloudTabDefaultPage-button10" class="button button-positive  button-block">1</button>
      <button id="cloudTabDefaultPage-button11" class="button button-positive  button-block">2</button>
      <button id="cloudTabDefaultPage-button12" class="button button-positive  button-block">3</button>
    </div>
  </ion-content>
</ion-view>