<ion-view id="page2">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div id="cameraTabDefaultPage-button-bar3" class="button-bar tab"></div>
        <div>
            <img src="img/PS27EoaYRXWGPfERFd8c_head.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div id="cameraTabDefaultPage-button-bar4" class="button-bar tab-outer">
            <button id="cameraTabDefaultPage-button16" style="color:#FFFFFF;border-radius:0px 0px 0px 0px;" class="button button-balanced  icon ion-cube tab"></button>
            <button id="cameraTabDefaultPage-button17" style="color:#FFFFFF;border-radius:0px 0px 0px 0px;" class="button button-balanced  icon ion-android-person tab"></button>
            <button id="cameraTabDefaultPage-button18" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  icon ion-android-settings tab"></button>
            <button id="cameraTabDefaultPage-button19" style="border-radius:0px 0px 0px 0px;" ng-click="logout()" class="button button-balanced  icon ion-android-exit tab"></button>
        </div>
        <ion-list id="cameraTabDefaultPage-list1" class="outer-list">
            <ion-item class="item-icon-left item-icon-right  button-item" id="cameraTabDefaultPage-list-item5" ui-sref="tabsController.examplePage">
                <i class="icon ion-ios-pulse-strong"></i>Medical History
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
         </ion-list>
    </ion-content>
</ion-view>