<ion-view title="Monthly Statement" id="monthly-statement-page" hide-nav-bar="true">
    <ion-content padding="true" style="background: url(img/YLljt9sHQZuoOVeWmWEj_login-screen-bg.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/o2pDWacJRbK5dTh1vP32_login-screen-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="monthly-statement">
            <div class="heading">
                <h2>10 Transactions Within Last 6 Months</h2>
            </div>
            <div class="service-fund-inn">
                <div class="transaction-content">
                    <ul>
                        <li>
                            <div class="service-fund-head">Monthly Statement</div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Statement From</div>
                                <div class="tittle-content">1-March-2015</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">Statement To</div>
                                <div class="tittle-content">31-March-2015</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Statement Date</div>
                                <div class="tittle-content">1-April-2015</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">Action</div>
                                <div class="tittle-content">
                                    <a href="#" class="button-link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="button-link"><i class="fa fa-download"></i></a>
                                    <a href="#" class="button-link"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </ion-list>
        <div class="button-set">
            <button id="previous" class="button button-positive previous">Previous</button>
            <button id="next" class="button button-positive next">Next</button>
        </div>
    </ion-content>
</ion-view>