<ion-view title="registration" id="registration" hide-nav-bar="true">
  <ion-content padding="true" style="background: url(img/YLljt9sHQZuoOVeWmWEj_login-screen-bg.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/o2pDWacJRbK5dTh1vP32_login-screen-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p class="wellcome-text">
      Register for a hassle free life
    </p>
    <form id="registetion-form4" name="registration.registrationForm" class="list login-form" novalidate>
      <ion-list id="registetion-list5" class="login-inner">
        <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.fname.$error.required) && ( !registration.registrationForm.fname.$pristine) || registration.submitted }">
          <label class="item item-input item-floating-label text-fill" id="registetion-input7">
            <input type="text" placeholder="Enter Your First Name" name="fname" data-ng-model="userVO.fname" required>
          </label>
          <div class="help-block_cont" data-ng-show="registration.registrationForm.fname.$invalid ||  registration.submitted">
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.fname.$error.required && !registration.registrationForm.fname.$pristine || registration.submitted">
               {{registration.famMessages.ERROR.M200010}}
              </small>
          </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.lname.$error.required) && ( !registration.registrationForm.lname.$pristine) || registration.submitted }">
          <label class="item item-input item-floating-label text-fill" id="registetion-input8">
            <input type="text" placeholder="Enter Your Last Name" name="lname" data-ng-model="userVO.lname" required>
          </label>
          <div class="help-block_cont" data-ng-show="registration.registrationForm.lname.$invalid || registration.submitted">
              <small class="help-block" data-ng-show="registration.registrationForm.lname.$error.required && !registration.registrationForm.lname.$pristine || registration.submitted">
               {{registration.famMessages.ERROR.M200011}}
              </small>
          </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.sex.$error.required) && (!registration.registrationForm.sex.$pristine) || registration.submitted }">  
        <label class="item item-select item-stacked-label select-box" id="registetion-select1">
          <select name="sex" ng-model="userVO.sex" 
               ng-options="option.id as option.optionValue for option in registration.userSex" ng-init="userVO.sex=''">         
              <option value=''>Sex</option>
          </select>
            <div class="help-block_cont" data-ng-show="registration.registrationForm.sex.$invalid || registration.submitted">
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.sex.$error.required && !registration.registrationForm.sex.$pristine || registration.submitted">
               {{registration.famMessages.ERROR.M200013}}
              </small>
          </div>
        </label>
      </div>
        <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.phone.$error.required) && (!registration.registrationForm.phone.$pristine) || registration.submitted }">
          <label class="item item-input item-floating-label text-fill" id="registetion-input9">
            <input type="text" placeholder="Enter Your Mobile Number" name="phone" data-ng-model="userVO.ph" ng-pattern="/^[0-9]{10}$/" required>
          </label>
          <div class="help-block_cont" data-ng-show="registration.registrationForm.phone.$invalid || registration.submitted">
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.phone.$error.required && !registration.registrationForm.phone.$pristine ||registration.submitted">
               {{registration.famMessages.ERROR.M200012}}
              </small>
              
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.phone.$error.pattern">
               {{registration.famMessages.ERROR.M200018}}
              </small>
          </div>
        </div>

        <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.email.$error.required) && ( !registration.registrationForm.email.$pristine)  || registration.submitted }">
          <label class="item item-input item-floating-label text-fill" id="registetion-input10">
         <input type="text" placeholder="Enter Your Email Id" name="email" data-ng-model="userVO.email"  disallow-spaces ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required>
          </label>
          <div class="help-block_cont" data-ng-show="registration.registrationForm.email.$invalid || registration.submitted">
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.email.$error.required && !registration.registrationForm.email.$pristine || registration.submitted">
                {{registration.famMessages.ERROR.M200017}}
              </small>  
               <small class="help-block inline-error" data-ng-show="registration.registrationForm.email.$error.pattern">
                {{registration.famMessages.ERROR.M200003}}
              </small> 
          </div>          
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.pass.$error.required) &&( !registration.registrationForm.pass.$pristine) || registration.submitted }">
          <label class="item item-input item-floating-label text-fill" id="registetion-input12">
            <input type="password" placeholder="Enter Your Password" name="pass" data-ng-model="userVO.pass" required>
          </label>
          <div class="help-block_cont" data-ng-show="registration.registrationForm.pass.$invalid || registration.submitted">
              <small class="help-block" data-ng-show="registration.registrationForm.pass.$error.required && !registration.registrationForm.pass.$pristine || registration.submitted">
               {{registration.famMessages.ERROR.M200004}}
              </small>
          </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.cpass.$error.required) && ( !registration.registrationForm.cpass.$pristine) || registration.submitted }">
          <label class="item item-input item-floating-label text-fill" id="registetion-input11">
            <input type="password" placeholder="Enter Your Password" name="cpass" data-ng-model="userVO.cpass" ng-pattern="userVO.pass" required>
          </label>
          <div class="help-block_cont" data-ng-show="registration.registrationForm.cpass.$invalid || registration.submitted">
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.cpass.$error.required && !registration.registrationForm.cpass.$pristine || registration.submitted">
               {{registration.famMessages.ERROR.M200006}}
              </small>
              
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.cpass.$error.pattern">
               {{registration.famMessages.ERROR.M200007}}
              </small>
          </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.birthday.$error.required) && ( !registration.registrationForm.birthday.$pristine) || registration.submitted }">  
        <label class="item item-select item-stacked-label select-box" id="registetion-select6">
          <select name="birthDay" ng-model="userVO.bday" 
               ng-options="option.id as option.optionValue for option in registration.setDays" ng-init="userVO.bday=''">
             <option value=''>Birth Day</option>
          </select>
          <div class="help-block_cont" data-ng-show="registration.registrationForm.birthday.$invalid || registration.submitted">
                <small class="help-block inline-error" data-ng-show="registration.registrationForm.birthday.$error.required && !registration.registrationForm.birthday.$pristine || registration.submitted">
                 {{registration.famMessages.ERROR.M200014}}
                </small>


          </div>
        </label>  
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.birthmonth.$error.required) && ( !registration.registrationForm.birthmonth.$pristine) || registration.submitted }">  
        <label class="item item-select item-stacked-label select-box" id="registetion-select4">
          <select name="birthmonth" ng-model="userVO.bmonth" 
               ng-options="option.id as option.optionValue for option in registration.setMonth" ng-init="userVO.bmonth=''">
             <option value=''>Birth Month</option>
          </select>
          <div class="help-block_cont" data-ng-show="registration.registrationForm.birthmonth.$invalid || registration.submitted">
                <small class="help-block inline-error" data-ng-show="registration.registrationForm.birthmonth.$error.required && !registration.registrationForm.birthmonth.$pristine || registration.submitted">
                 {{registration.famMessages.ERROR.M200015}}
                </small>
          </div>
        </label>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.birthyear.$error.required) && ( !registration.registrationForm.birthyear.$pristine) || registration.submitted }">   
        <label class="item item-select item-stacked-label select-box" id="registetion-select3">
          <select name="birthyear" ng-model="userVO.byear" 
               ng-options="option.id as option.optionValue for option in registration.birthYears" ng-init="userVO.byear=''">
             <option value=''>Birth Year</option>
          </select>
          <div class="help-block_cont" data-ng-show="registration.registrationForm.birthyear.$invalid || registration.submitted">
                <small class="help-block inline-error" data-ng-show="registration.registrationForm.birthyear.$error.required && !registration.registrationForm.birthyear.$pristine || registration.submitted">
                 {{registration.famMessages.ERROR.M200016}}
                </small>
          </div>
        </label>
        </div>
      </ion-list>
      <div class="spacer" style="width: 0px; height: 0px;"></div>
      <ion-checkbox id="registetion-checkbox1" class="chk-box item-stacked-label">Join Existing Family? </ion-checkbox>
      <ion-checkbox id="registetion-checkbox2" class="chk-box item-stacked-label" ></ion-checkbox><a ng-click ="registration.checkedOrNot()">Accept terms and conditions</a>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <button type="submit" id="registetion-button24" style="color:#F5FFFA;" data-ng-click="registration.onsubmit(userVO)" class="button button-positive button-block">Create Account</button>
      <button id="registetion-button25" ui-sref="{{registration.famConstants.STATE_USER.LOGIN}}" class="button button-positive  button-block button-clear">Back to login</button>
    </form>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
  </ion-content>
</ion-view>