<ion-view title="Employment-Details" id="employment-details-page" hide-nav-bar="true">
    <ion-content padding="true" style="background: url(img/YLljt9sHQZuoOVeWmWEj_login-screen-bg.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/o2pDWacJRbK5dTh1vP32_login-screen-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="employment-details">
            <div class="heading">
                <button id="add-new" class="button button-positive add-new">Add New</button>
            </div>
            <div class="service-fund-inn">
                <div class="transaction-content">
                    <ul>
                        <li>
                            <div class="service-fund-head">EMPLOYMENT DETAILS</div>
                            <div class="service-fund-content">
                                <div class="tittle-head">COMPANY</div>
                                <div class="tittle-content">dhdh</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">START DATE</div>
                                <div class="tittle-content">08-Mar-2017 </div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">LEAVE/ RETIREMENT DATE</div>
                                <div class="tittle-content">01-Mar-2017</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">POSITION</div>
                                <div class="tittle-content">rt5uy</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">ORGANIZATION ADDRESS</div>
                                <div class="tittle-content">rdtueru</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">ORGANIZATION CONTACT</div>
                                <div class="tittle-content"></div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Action</div>
                                <div class="tittle-content">
                                    <a href="#" class="button-link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="button-link"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-fund-head">EMPLOYMENT DETAILS</div>
                            <div class="service-fund-content">
                                <div class="tittle-head">COMPANY</div>
                                <div class="tittle-content">trrweyt</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">START DATE</div>
                                <div class="tittle-content">09-Mar-2017</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">LEAVE/ RETIREMENT DATE</div>
                                <div class="tittle-content">05-Mar-2017</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">POSITION</div>
                                <div class="tittle-content">eryre</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">ORGANIZATION ADDRESS</div>
                                <div class="tittle-content">gfjj</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">ORGANIZATION CONTACT</div>
                                <div class="tittle-content"></div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Action</div>
                                <div class="tittle-content">
                                    <a href="#" class="button-link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="button-link"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-fund-head">EMPLOYMENT DETAILS</div>
                            <div class="service-fund-content">
                                <div class="tittle-head">COMPANY</div>
                                <div class="tittle-content">gdwgw</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">START DATE</div>
                                <div class="tittle-content">24-Mar-2017</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">LEAVE/ RETIREMENT DATE</div>
                                <div class="tittle-content">06-Mar-2017</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">POSITION</div>
                                <div class="tittle-content">w4etewt</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">ORGANIZATION ADDRESS</div>
                                <div class="tittle-content">eryt</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">ORGANIZATION CONTACT</div>
                                <div class="tittle-content"></div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Action</div>
                                <div class="tittle-content">
                                    <a href="#" class="button-link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="button-link"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-fund-head">EMPLOYMENT DETAILS</div>
                            <div class="service-fund-content">
                                <div class="tittle-head">COMPANY</div>
                                <div class="tittle-content">TCS</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">START DATE</div>
                                <div class="tittle-content">07-Mar-2017</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">LEAVE/ RETIREMENT DATE</div>
                                <div class="tittle-content">06-Mar-2017</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">POSITION</div>
                                <div class="tittle-content">ASE</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">ORGANIZATION ADDRESS</div>
                                <div class="tittle-content"></div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">ORGANIZATION CONTACT</div>
                                <div class="tittle-content"></div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Action</div>
                                <div class="tittle-content">
                                    <a href="#" class="button-link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="button-link"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="add-new-content">
                <div class="service-fund-head">EDUCATION DETAILS</div>
                <div class="service-fund-content">
                    <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.fname.$error.required) && ( !registration.registrationForm.fname.$pristine) || registration.submitted }">
                        <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="text" placeholder="ORGANIZATION NAME" name="fname" data-ng-model="userVO.fname" required>
            </label>
                        <div class="help-block_cont" data-ng-show="registration.registrationForm.fname.$invalid ||  registration.submitted">
                            <small class="help-block inline-error" data-ng-show="registration.registrationForm.fname.$error.required && !registration.registrationForm.fname.$pristine || registration.submitted">
                 {{registration.famMessages.ERROR.M200010}}
                </small>
                        </div>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.fname.$error.required) && ( !registration.registrationForm.fname.$pristine) || registration.submitted }">
                        <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="text" placeholder="DESIGNATION" name="fname" data-ng-model="userVO.fname" required>
            </label>
                        <div class="help-block_cont" data-ng-show="registration.registrationForm.fname.$invalid ||  registration.submitted">
                            <small class="help-block inline-error" data-ng-show="registration.registrationForm.fname.$error.required && !registration.registrationForm.fname.$pristine || registration.submitted">
                 {{registration.famMessages.ERROR.M200010}}
                </small>
                        </div>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.fname.$error.required) && ( !registration.registrationForm.fname.$pristine) || registration.submitted }">
                        <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="text" placeholder="START DATE" name="fname" data-ng-model="userVO.fname" required>
            </label>
                        <div class="help-block_cont" data-ng-show="registration.registrationForm.fname.$invalid ||  registration.submitted">
                            <small class="help-block inline-error" data-ng-show="registration.registrationForm.fname.$error.required && !registration.registrationForm.fname.$pristine || registration.submitted">
                 {{registration.famMessages.ERROR.M200010}}
                </small>
                        </div>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.fname.$error.required) && ( !registration.registrationForm.fname.$pristine) || registration.submitted }">
                        <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="text" placeholder="END DATE" name="fname" data-ng-model="userVO.fname" required>
            </label>
                        <div class="help-block_cont" data-ng-show="registration.registrationForm.fname.$invalid ||  registration.submitted">
                            <small class="help-block inline-error" data-ng-show="registration.registrationForm.fname.$error.required && !registration.registrationForm.fname.$pristine || registration.submitted">
                 {{registration.famMessages.ERROR.M200010}}
                </small>
                        </div>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.sex.$error.required) && (!registration.registrationForm.sex.$pristine) || registration.submitted }">
                        <label class="item-stacked-label select-box" id="registetion-service-center">
              <div class="lebel-head" style="margin-top: 15px;">ORGANIZATION ADDRESS</div>
                <textarea placeholder=""></textarea>
                <div class="help-block_cont" data-ng-show="registration.registrationForm.sex.$invalid || registration.submitted">
                  <small class="help-block inline-error" data-ng-show="registration.registrationForm.sex.$error.required && !registration.registrationForm.sex.$pristine || registration.submitted">
                   {{registration.famMessages.ERROR.M200013}}
                  </small>
              </div>
            </label>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.fname.$error.required) && ( !registration.registrationForm.fname.$pristine) || registration.submitted }">
                        <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="text" placeholder="ORGANIZATION CONTACT" name="fname" data-ng-model="userVO.fname" required>
            </label>
                        <div class="help-block_cont" data-ng-show="registration.registrationForm.fname.$invalid ||  registration.submitted">
                            <small class="help-block inline-error" data-ng-show="registration.registrationForm.fname.$error.required && !registration.registrationForm.fname.$pristine || registration.submitted">
                 {{registration.famMessages.ERROR.M200010}}
                </small>
                        </div>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.fname.$error.required) && ( !registration.registrationForm.fname.$pristine) || registration.submitted }">
                        <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="file" placeholder="ATTACH DOCUMENTS" name="fname" data-ng-model="userVO.fname" required>
            </label>
                        <div class="help-block_cont" data-ng-show="registration.registrationForm.fname.$invalid ||  registration.submitted">
                            <small class="help-block inline-error" data-ng-show="registration.registrationForm.fname.$error.required && !registration.registrationForm.fname.$pristine || registration.submitted">
                 {{registration.famMessages.ERROR.M200010}}
                </small>
                        </div>
                    </div>
                    <div class="button-set">
                        <button id="save" class="button button-positive previous">Save</button>
                        <button id="cancel" class="button button-positive next">Cancel</button>
                    </div>
                </div>
            </div>
        </ion-list>

    </ion-content>
</ion-view>