<ion-view title="profile" hide-nav-bar="true">
    <ion-content padding="true" style="background: url(img/YLljt9sHQZuoOVeWmWEj_login-screen-bg.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="header-back">
            <button id="back" class="ion-android-arrow-back back"></button> Profile
        </div>
        <div class="spacer" style="width: 300px; height: 50px;"></div>
        <form id="profile-list" name="profile.profileForm" class="list profile-form" novalidate>
            <ion-list id="profile-list2" class="profile-inner">
                <div class="profile-head">
                    <div class="profile-img">
                        <img ng-src="../img/profile.png" style="border-radius:50%;">
                    </div>
                    <div class="profile-name">
                        <p>Sitansu Dey </p>
                        <a href="#" class="edit-photo">Edit Photo</a>
                    </div>
                </div>
                <div class="profile-first">
                    <ul>
                        <li>FAMILY ID: <span class="profile-value">FL00010112</span></li>
                        <li>MEMBER ID: <span class="profile-value">M00010145</span></li>
                        <li>MEMBERSHIP TYPE: <span class="profile-value">MEMBER</span></li>
                        <li>CURRENT STATUS: <span class="profile-value"></span></li>
                        <li>CREATED ON: <span class="profile-value">FEB 22, 2017</span></li>
                        <li>NEXT RENEW DATE: <span class="profile-value">FEB 22, 2018</span></li>
                    </ul>
                </div>
                <div class="profile-second">
                    <h4>Personal Info</h4>
                    <ul>
                        <li>Your Name: <span class="profile-value">Sitansu Dey</span></li>
                        <li>Father: <span class="profile-value">S Dey</span></li>
                        <li>Mother: <span class="profile-value">S Dey</span></li>
                        <li>Gender: <span class="profile-value">Male</span></li>
                        <li>DOB: <span class="profile-value">20/02/1971</span></li>
                        <li>Marital Status: <span class="profile-value">Married</span></li>
                        <li>Spouse: <span class="profile-value">A Dey</span></li>
                        <li>Anniversary Date: <span class="profile-value">06-Mar-2017</span></li>
                    </ul>
                </div>
                <div class="profile-third">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Email Address: <span class="profile-value">sdey@gmail.com</span></li>
                        <li>Mobile: <span class="profile-value">+91-9734618922</span></li>
                    </ul>
                </div>
                <div class="profile-five">
                    <ul>
                        <li><a href="#">My Transactions</a></li>
                        <li><a href="#">Account Settings</a></li>
                        <li><a href="#">My Worklist</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
        </form>
    </ion-content>
</ion-view>