<ion-view title="Transaction History" id="transaction-history-page" hide-nav-bar="true">
    <ion-content padding="true" style="background: url(img/YLljt9sHQZuoOVeWmWEj_login-screen-bg.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/o2pDWacJRbK5dTh1vP32_login-screen-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="transaction-history">
            <div class="heading">
                <h2>Last 6 Months Transactions</h2>
            </div>
            <div class="service-fund-inn">
                <div class="transaction-content">
                    <ul>
                        <li>
                            <div class="service-fund-head">Transaction History</div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Source</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">Accounting Date</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Account Head</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">Transaction Description</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Debit Amount</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">Credit Amount</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Member ID</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">SR No</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">SR Date</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">Service Description</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Receipt ID</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">Receipt Date</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">Invoice ID</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">Invoice Date</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">View Receipt</div>
                                <div class="tittle-content">&nbsp;</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </ion-list>
        <div class="button-set">
            <button id="previous" class="button button-positive previous">Previous</button>
            <button id="next" class="button button-positive next">Next</button>
        </div>
    </ion-content>
</ion-view>